## import pandas as pd

<h4> Read Date From json file</h4>

In [5]:
jdf = pd.read_json(r"mystd.json")
print(jdf)

    _id   Age    Dept  Gender      Name    Salary  \
0     1  21.0     BCA    Male    Krunal     750.0
1     2  23.0     MCA    Male   Nishant    1000.0
2     3  25.0    BCOM    Male     Karan     500.0
3     4  29.0     BBA    Male     Harsh    1500.0
4     5  30.0  BPHARM    Male      Anas     600.0
5     6  19.0      BE    Male    Chirag    1000.0
6     7  23.0      ME  Female    Vishwa    5000.0
7     8  25.0     BBA  Female  Shraddha     400.0
8     9  24.0     BCA  Female    Drasti    4000.0
9    10  23.0     MCA  Female     Jinal    5000.0
10   11  22.0    BCOM  Female    Roshni     500.0
11   12  22.0     BBA    Male    Mrudul    1000.0
12   13  40.0  BPHARM    Male     Anjit     500.0
13   14  36.0      BE    Male   Priyank     800.0
14   15  25.0      ME    Male     Nitin    1000.0
15   16  27.0     BBA    Male   Bhautik    6000.0
16   17  21.0     BCA  Female     Aarti    2000.0
17   18  21.0     MCA  Female     Divya    4000.0
18   19  32.0    BCOM  Female    Prachi    5000.0
19   20  31.0     BBA  Female     Geeta    3000.0
20   21  30.0  BPHARM  Female      Rita    6000.0
21   22  20.0      BE  Female      Sita    1000.0
22   23  23.0      ME    Male    Mitesh    7000.0
23   24  29.0     BBA    Male    Jitesh    8000.0
24   25  28.0   PGDCA    Male   Pritesh    1500.0
25   26  23.0      ME    Male      Axay    7000.0
26   27  33.0    BCOM  Female      Mina    5000.0
27   28  23.0      ME  Female     Veera    7070.0
28   29  33.0    BCOM  Female      Mira    5000.0
29   30  33.0      BE    Male     Nirav    9070.0
30   31  19.0    BCOM  Female     Sanvi  111111.0
31   32   NaN     NaN     NaN     Dhoni       NaN
32   33   NaN     NaN     NaN     Kohli       NaN
33   34   NaN     NaN     NaN    Sharma       NaN
34   35   NaN     NaN     NaN    Jadeja       NaN
35   36   NaN     NaN     NaN    Bumrah       NaN
36   37  20.0     NaN     NaN    Yuvraj       NaN

                                                 City  Marks  Mrks  \
0                                                 NaN    NaN   NaN
1                                                 NaN    NaN   NaN
2                                                 NaN    NaN   NaN
3                                                 NaN    NaN   NaN
4                                                 NaN    NaN   NaN
5                                                 NaN    NaN   NaN
6                                                 NaN    NaN   NaN
7                                                 NaN    NaN   NaN
8                                                 NaN    NaN   NaN
9                                                 NaN    NaN   NaN
10                                                NaN    NaN   NaN
11                                                NaN    NaN   NaN
12                                                NaN    NaN   NaN
13                                                NaN    NaN   NaN
14                                                NaN    NaN   NaN
15                                                NaN    NaN   NaN
16                                                NaN    NaN   NaN
17                                                NaN    NaN   NaN
18                                                NaN    NaN   NaN
19                                                NaN    NaN   NaN
20                                                NaN    NaN   NaN
21                                                NaN    NaN   NaN
22                                                NaN    NaN   NaN
23                                                NaN    NaN   NaN
24                                                NaN    NaN   NaN
25     ["Gandhinagar","Ahmedabad","Rajkot","Mehsana"]    NaN   NaN
26            ["GandhiDham","Dang","Bhacahu","Surat"]    NaN   NaN
27  [{"Block":"A1 Block","HouseNo":110},{"Block":"...    NaN   NaN
28  [{"Block":"A2 Block","HouseNo":170},{"Block":"...    NaN   NaN
29                                                NaN    NaN   NaN
30                                                NaN    NaN   NaN
31                                                NaN    NaN   NaN
32                                                NaN    NaN   NaN
33                                                NaN    NaN   NaN
34                                                NaN    NaN   NaN
35                                                NaN    NaN   NaN
36                                                NaN    NaN   NaN

          Role  popularity   DS Java Maths
0          NaN         NaN  NaN  NaN   NaN
1          NaN         NaN  NaN  NaN   NaN
2          NaN         NaN  NaN  NaN   NaN
3          NaN         NaN  NaN  NaN   NaN
4          NaN         NaN  NaN  NaN   NaN
5          NaN         NaN  NaN  NaN   NaN
6          NaN         NaN  NaN  NaN   NaN
7          NaN         NaN  NaN  NaN   NaN
8          NaN         NaN  NaN  NaN   NaN
9          NaN         NaN  NaN  NaN   NaN
10         NaN         NaN  NaN  NaN   NaN
11         NaN         NaN  NaN  NaN   NaN
12         NaN         NaN  NaN  NaN   NaN
13         NaN         NaN  NaN  NaN   NaN
14         NaN         NaN  NaN  NaN   NaN
15         NaN         NaN  NaN  NaN   NaN
16         NaN         NaN  NaN  NaN   NaN
17         NaN         NaN  NaN  NaN   NaN
18         NaN         NaN  NaN  NaN   NaN
19         NaN         NaN  NaN  NaN   NaN
20         NaN         NaN  NaN  NaN   NaN
21         NaN         NaN  NaN  NaN   NaN
22         NaN         NaN  NaN  NaN   NaN
23         NaN         NaN  NaN  NaN   NaN
24         NaN         NaN  NaN  NaN   NaN
25         NaN         NaN  NaN  NaN   NaN
26         NaN         NaN  NaN  NaN   NaN
27         NaN         NaN  NaN  NaN   NaN
28         NaN         NaN  NaN  NaN   NaN
29         NaN         NaN  NaN  NaN   NaN
30         NaN         NaN  NaN  NaN   NaN
31     Captain       500.0  NaN  NaN   NaN
32     BatsMan       450.0  NaN  NaN   NaN
33      Opener       400.0  NaN  NaN   NaN
34  AllRounder       390.0  NaN  NaN   NaN
35      Bowler       380.0  NaN  NaN   NaN
36         NaN         NaN   A+    A    A+

<h4> second way to Read Date From json file</h4>

In [3]:
import json

In [6]:
with open('mystd.json','r') as js:
    jdata = js.read()
loadjson  = json.loads(jdata)

In [8]:
loadjson

[{'_id': 1,
  'Age': 21,
  'Dept': 'BCA',
  'Gender': 'Male',
  'Name': 'Krunal',
  'Salary': 750},
 {'_id': 2,
  'Age': 23,
  'Dept': 'MCA',
  'Gender': 'Male',
  'Name': 'Nishant',
  'Salary': 1000},
 {'_id': 3,
  'Age': 25,
  'Dept': 'BCOM',
  'Gender': 'Male',
  'Name': 'Karan',
  'Salary': 500},
 {'_id': 4,
  'Age': 29,
  'Dept': 'BBA',
  'Gender': 'Male',
  'Name': 'Harsh',
  'Salary': 1500},
 {'_id': 5,
  'Age': 30,
  'Dept': 'BPHARM',
  'Gender': 'Male',
  'Name': 'Anas',
  'Salary': 600},
 {'_id': 6,
  'Age': 19,
  'Dept': 'BE',
  'Gender': 'Male',
  'Name': 'Chirag',
  'Salary': 1000},
 {'_id': 7,
  'Age': 23,
  'Dept': 'ME',
  'Gender': 'Female',
  'Name': 'Vishwa',
  'Salary': 5000},
 {'_id': 8,
  'Age': 25,
  'Dept': 'BBA',
  'Gender': 'Female',
  'Name': 'Shraddha',
  'Salary': 400},
 {'_id': 9,
  'Age': 24,
  'Dept': 'BCA',
  'Gender': 'Female',
  'Name': 'Drasti',
  'Salary': 4000},
 {'_id': 10,
  'Age': 23,
  'Dept': 'MCA',
  'Gender': 'Female',
  'Name': 'Jinal',
  'Salary': 5000},
 {'_id': 11,
  'Age': 22,
  'Dept': 'BCOM',
  'Gender': 'Female',
  'Name': 'Roshni',
  'Salary': 500},
 {'_id': 12,
  'Age': 22,
  'Dept': 'BBA',
  'Gender': 'Male',
  'Name': 'Mrudul',
  'Salary': 1000},
 {'_id': 13,
  'Age': 40,
  'Dept': 'BPHARM',
  'Gender': 'Male',
  'Name': 'Anjit',
  'Salary': 500},
 {'_id': 14,
  'Age': 36,
  'Dept': 'BE',
  'Gender': 'Male',
  'Name': 'Priyank',
  'Salary': 800},
 {'_id': 15,
  'Age': 25,
  'Dept': 'ME',
  'Gender': 'Male',
  'Name': 'Nitin',
  'Salary': 1000},
 {'_id': 16,
  'Age': 27,
  'Dept': 'BBA',
  'Gender': 'Male',
  'Name': 'Bhautik',
  'Salary': 6000},
 {'_id': 17,
  'Age': 21,
  'Dept': 'BCA',
  'Gender': 'Female',
  'Name': 'Aarti',
  'Salary': 2000},
 {'_id': 18,
  'Age': 21,
  'Dept': 'MCA',
  'Gender': 'Female',
  'Name': 'Divya',
  'Salary': 4000},
 {'_id': 19,
  'Age': 32,
  'Dept': 'BCOM',
  'Gender': 'Female',
  'Name': 'Prachi',
  'Salary': 5000},
 {'_id': 20,
  'Age': 31,
  'Dept': 'BBA',
  'Gender': 'Female',
  'Name': 'Geeta',
  'Salary': 3000},
 {'_id': 21,
  'Age': 30,
  'Dept': 'BPHARM',
  'Gender': 'Female',
  'Name': 'Rita',
  'Salary': 6000},
 {'_id': 22,
  'Age': 20,
  'Dept': 'BE',
  'Gender': 'Female',
  'Name': 'Sita',
  'Salary': 1000},
 {'_id': 23,
  'Age': 23,
  'Dept': 'ME',
  'Gender': 'Male',
  'Name': 'Mitesh',
  'Salary': 7000},
 {'_id': 24,
  'Age': 29,
  'Dept': 'BBA',
  'Gender': 'Male',
  'Name': 'Jitesh',
  'Salary': 8000},
 {'_id': 25,
  'Age': 28,
  'Dept': 'PGDCA',
  'Gender': 'Male',
  'Name': 'Pritesh',
  'Salary': 1500},
 {'_id': 26,
  'Age': 23,
  'City': '["Gandhinagar","Ahmedabad","Rajkot","Mehsana"]',
  'Dept': 'ME',
  'Gender': 'Male',
  'Name': 'Axay',
  'Salary': 7000},
 {'_id': 27,
  'Age': 33,
  'City': '["GandhiDham","Dang","Bhacahu","Surat"]',
  'Dept': 'BCOM',
  'Gender': 'Female',
  'Name': 'Mina',
  'Salary': 5000},
 {'_id': 28,
  'Age': 23,
  'City': '[{"Block":"A1 Block","HouseNo":110},{"Block":"A1 Block","HouseNo":199}]',
  'Dept': 'ME',
  'Gender': 'Female',
  'Name': 'Veera',
  'Salary': 7070},
 {'_id': 29,
  'Age': 33,
  'City': '[{"Block":"A2 Block","HouseNo":170},{"Block":"A1 Block","HouseNo":199}]',
  'Dept': 'BCOM',
  'Gender': 'Female',
  'Name': 'Mira',
  'Salary': 5000},
 {'_id': 30,
  'Age': 33,
  'Dept': 'BE',
  'Gender': 'Male',
  'Marks': None,
  'Name': 'Nirav',
  'Salary': 9070},
 {'_id': 31,
  'Age': 19,
  'Dept': 'BCOM',
  'Gender': 'Female',
  'Mrks': None,
  'Name': 'Sanvi',
  'Salary': 111111},
 {'_id': 32, 'Name': 'Dhoni', 'Role': 'Captain', 'popularity': 500},
 {'_id': 33, 'Name': 'Kohli', 'Role': 'BatsMan', 'popularity': 450},
 {'_id': 34, 'Name': 'Sharma', 'Role': 'Opener', 'popularity': 400},
 {'_id': 35, 'Name': 'Jadeja', 'Role': 'AllRounder', 'popularity': 390},
 {'_id': 36, 'Name': 'Bumrah', 'Role': 'Bowler', 'popularity': 380},
 {'_id': 37,
  'Age': 20,
  'DS': 'A+',
  'Java': 'A',
  'Maths': 'A+',
  'Name': 'Yuvraj'}]

In [5]:
print(type(loadjson))

<class 'list'>

In [11]:
jdf2 = pd.DataFrame(loadjson)

In [12]:
jdf2

,_id,Age,Dept,Gender,Name,Salary,City,Marks,Mrks,Role,popularity,DS,Java,Maths
0,1,21.0,BCA,Male,Krunal,750.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,23.0,MCA,Male,Nishant,1000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,25.0,BCOM,Male,Karan,500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,29.0,BBA,Male,Harsh,1500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,30.0,BPHARM,Male,Anas,600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,19.0,BE,Male,Chirag,1000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,23.0,ME,Female,Vishwa,5000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8,25.0,BBA,Female,Shraddha,400.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9,24.0,BCA,Female,Drasti,4000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10,23.0,MCA,Female,Jinal,5000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,22.0,BCOM,Female,Roshni,500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,22.0,BBA,Male,Mrudul,1000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,40.0,BPHARM,Male,Anjit,500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,14,36.0,BE,Male,Priyank,800.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,15,25.0,ME,Male,Nitin,1000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,16,27.0,BBA,Male,Bhautik,6000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,17,21.0,BCA,Female,Aarti,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,18,21.0,MCA,Female,Divya,4000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,19,32.0,BCOM,Female,Prachi,5000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,20,31.0,BBA,Female,Geeta,3000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,21,30.0,BPHARM,Female,Rita,6000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,22,20.0,BE,Female,Sita,1000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,23,23.0,ME,Male,Mitesh,7000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,24,29.0,BBA,Male,Jitesh,8000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,25,28.0,PGDCA,Male,Pritesh,1500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,26,23.0,ME,Male,Axay,7000.0,"[""Gandhinagar"",""Ahmedabad"",""Rajkot"",""Mehsana""]",NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,27,33.0,BCOM,Female,Mina,5000.0,"[""GandhiDham"",""Dang"",""Bhacahu"",""Surat""]",NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,28,23.0,ME,Female,Veera,7070.0,"[{""Block"":""A1 Block"",""HouseNo"":110},{""Block"":""...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,29,33.0,BCOM,Female,Mira,5000.0,"[{""Block"":""A2 Block"",""HouseNo"":170},{""Block"":""...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,30,33.0,BE,Male,Nirav,9070.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,31,19.0,BCOM,Female,Sanvi,111111.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,32,NaN,NaN,NaN,Dhoni,NaN,NaN,NaN,NaN,Captain,500.0,NaN,NaN,NaN
32,33,NaN,NaN,NaN,Kohli,NaN,NaN,NaN,NaN,BatsMan,450.0,NaN,NaN,NaN
33,34,NaN,NaN,NaN,Sharma,NaN,NaN,NaN,NaN,Opener,400.0,NaN,NaN,NaN
34,35,NaN,NaN,NaN,Jadeja,NaN,NaN,NaN,NaN,AllRounder,390.0,NaN,NaN,NaN
35,36,NaN,NaN,NaN,Bumrah,NaN,NaN,NaN,NaN,Bowler,380.0,NaN,NaN,NaN
36,37,20.0,NaN,NaN,Yuvraj,NaN,NaN,NaN,NaN,NaN,NaN,A+,A,A+