In [1]:
import numpy as np
import pandas as pd

In [4]:
df=pd.read_csv("open_one_time_covid_education_impact.csv")

In [6]:
df.shape

(4436, 27)

In [7]:
df

,submission_id,submission_date,gender,age,geography,financial_situation,education,employment_status,submission_state,are_there_children_0_to_2_yrs_out_of_educational_system,...,are_children_3_to_17_yrs_dealing_with_irregular_school_activity,are_children_being_teached_by_unqualified_people,did_teachers_leave_the_educational_system,do_school_and_the_teachers_have_internet_connection,do_children_have_internet_connection,do_children_3_to_17_yrs_miss_virtual_class_due_to_lack_of_electricity,does_home_shows_severe_deficit_of_electricity,does_home_shows_severe_deficit_of_internet,do_children_3_to_17_yrs_miss_class_or_in_lower_grade,are_children_promoted_with_a_modality_different_from_formal_evaluation
0,4570534489882624,2021-03-17,Female,Over 45 years old,Suburban/Peri-urban,"I can afford food and regular expenses, but no...",University or college degree completed,I am unemployed,Miranda,0,...,0,0,0,1,1,0,0,0,0,0
1,6440166989496320,2021-03-29,Male,26 to 35 years old,Suburban/Peri-urban,I cannot afford enough food for my family,University or college degree completed,I am unemployed,Miranda,0,...,1,0,1,0,1,1,0,0,0,0
2,5001167808757760,2021-03-18,Female,26 to 35 years old,City center or metropolitan area,"I can comfortably afford food, clothes, and fu...",University or college degree completed,"I work full-time, either as an employee or sel...",Miranda,1,...,1,1,1,0,1,0,1,0,0,1
3,5524933164924928,2021-03-24,Male,36 to 45 years old,Suburban/Peri-urban,"I can afford food, but nothing else",University or college degree completed,"I work full-time, either as an employee or sel...",Miranda,0,...,1,1,1,0,1,0,0,0,0,0
4,5032515751641088,2021-03-18,Female,Over 45 years old,Suburban/Peri-urban,"I can afford food and regular expenses, but no...",University or college degree completed,I am unemployed,Miranda,0,...,1,0,1,0,1,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4431,5229259428986880,2021-03-22,Female,Over 45 years old,Suburban/Peri-urban,"I can afford food, but nothing else",University or college degree completed,"I work full-time, either as an employee or sel...",Anzoátegui,0,...,1,1,1,1,1,0,0,1,0,1
4432,6520660045332480,2021-03-19,Female,Over 45 years old,Rural,"I can afford food, but nothing else",Primary school completed,"I work part-time, either as an employee or sel...",Anzoátegui,0,...,0,0,1,0,0,1,0,1,0,0
4433,5222701550796800,2021-03-25,Male,16 to 25 years old,Suburban/Peri-urban,"I can afford food, regular expenses, and cloth...",Technical school diploma or degree completed,I am a student and I work part-time,Anzoátegui,1,...,1,0,1,1,1,1,0,1,1,1
4434,6150639704080384,2021-03-13,Female,Over 45 years old,Suburban/Peri-urban,"I can afford food and regular expenses, but no...",University or college degree completed,"I work full-time, either as an employee or sel...",Anzoátegui,1,...,0,0,1,0,1,1,0,1,0,0
4435,5073215465717760,2021-03-30,Male,36 to 45 years old,Rural,"I can afford food and regular expenses, but no...",Technical school diploma or degree completed,"I work part-time, either as an employee or sel...",Anzoátegui,0,...,1,1,1,1,1,1,1,1,0,1